/* home */
section.hero {
    background-color: #000;
    position: relative;
    display: flex;
    font-family: var(--font-mont);
}

section.hero>.container-fluid {
    background-color: var(--primary-5);
    position: relative;
}

section.hero .l-bg {
    min-height: 80vh;
    background-image: url('https://6637851.fs1.hubspotusercontent-na1.net/hubfs/6637851/Api%20Direct%20Version%202%20Resources/ReactApiImg/hero-l-bg.png');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 40%;
    margin-left: 5%;
    padding-right: 5%;
    min-width: fit-content;
}

section.hero .l-bg .fsxl96 {
    margin-top: 10%;
}

section.hero .r-bg {
    min-height: 80vh;
    background-image: url('https://6637851.fs1.hubspotusercontent-na1.net/hubfs/6637851/Api%20Direct%20Version%202%20Resources/ReactApiImg/hero-r-bg.png');
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-position-y: -30%;
    margin-left: auto;
    margin-right: 5%;
}

section.hero .browse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
}

section.what .content-form {
    background-image: url('https://6637851.fs1.hubspotusercontent-na1.net/hubfs/6637851/Api%20Direct%20Version%202%20Resources/ReactApiImg/what-l-bg.png');
    background-repeat: no-repeat;
    padding-top: 5rem;
    background-position-y: -3rem;
}

section.what .content-form .content .fsxl24 {
    color: #fff;
}

section.what .content-form .content {
    width: 705px;
}

.cdh.center.what {
    background-image: url('https://6637851.fs1.hubspotusercontent-na1.net/hubfs/6637851/Api%20Direct%20Version%202%20Resources/Image/Cir_bg.svg');
    background-repeat: no-repeat;
    background-position-x: 92%;
    background-position-y: bottom;
}

.cdh.center.what .know-form {
    background-color: rgba(13, 155, 156, 0.15);
}

main#home .know-form {
    width: 415px;
    padding: 3rem 2.5rem;
}



section.what .content-form .plug-bot-img-hold {
    width: 40%;
}

section.what .content-form .plug-content {
    width: 414px;
}

section.not-got .adv-space,
section.container .adv-space {
    background-color: var(--primary-5);
    flex: 1;
    display: grid;
    place-items: center;
    font-family: var(--font-lucida);
    color: #fff;
}

section.container .adv-space {
    height: 400px;
}

section.not-got .l-hold {
    background-color: var(--primary-5);
    padding: 4rem 2rem;
}

section.not-got .l-hold {
    width: 65%;
}

@media (width > 769px) {

    section.not-got .l-hold .text-side {
        max-width: 40%;
    }
}

section.direct {
    margin-top: 3rem;
    background-image: url('https://6637851.fs1.hubspotusercontent-na1.net/hubfs/6637851/Api%20Direct%20Version%202%20Resources/ReactApiImg/direct-center.png');
    background-repeat: no-repeat;
    background-position-x: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section.direct .container .search-box {
    column-gap: 0.5rem;
    background-color: #001a219c;
    padding-left: 0.8rem;
    border-radius: 5px;
    align-items: center;
    border: 1px solid transparent;
}

section.direct .container .search-box:focus-within {
    border-color: var(--primary-6);
}

section.direct .container .search-box input {
    flex: 1;
    color: #fff;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-family: var(--font-mont);
    background-color: transparent;
    outline: none;
    border: none;
}

section.direct .container .search-box input::placeholder {
    color: rgba(13, 155, 156, 0.5);
    /* font-weight: 500; */
}

section.direct .container .tag-box {
    display: flex;
    column-gap: 16px;
    padding-top: 0.8rem;
}
section.direct .container .tag-box .search-tag {
    border: 1px solid transparent;   
    cursor: pointer;
}
section.direct .container .tag-box .search-tag.active {
    border-color: var(--primary-3);
}

section.direct .view-switch {
    border: none;
    outline: none;
    background-color: var(--primary-5);
    margin-left: auto;
    display: flex;
    column-gap: 11px;
    color: #fff;
    font-family: var(--font-mont);
    font-weight: 500;
    align-items: center;
    border-radius: 5px;
    padding: 0.6rem 0.8rem;
}

/* ------------------------------------------------------------------------------- */
section.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem 1rem;
}


.cards .card {
    cursor: pointer;
    background: #001a21;
    padding: 1.3rem;
    position: relative;
    border-radius: 8px;
    scroll-margin: 80px;
}

.cards.grid .card {
    width: 388px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.cards .card .brand-n-title {
    display: flex;
    column-gap: 0.5rem;
    justify-content: space-between;
}
.cards.tile .card .brand-n-title {
    column-gap: 1.5rem;
}

@media (min-width: 385px) {
    .cards.grid .card .brand-n-title {
        height: 80px;
    }    
}

@media (max-width: 384.98px) {
    
}

.cards .card .brand-n-title .fsxl36 {
    font-size: 30px;
}

.cards .card .brand-image-hold {
    min-width: 3rem;
    max-width: 3rem;
    min-height: 3rem;
    max-height: 3rem;
    display: grid;
    place-items: center;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.cards .card .img-tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.cards .card .img-tags .img-tag {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

.cards .card .img-tags .img-tag .fhir-image {
    width: 24px;
    height: 24px;
}

.cards .card .img-tags .img-tag .fhir-text {
    color: #ff4a00;
    font-size: 20px;
    font-weight: 700;
}

.cards .card .img-tags .img-tag .workato-image {
    width: 35px;
    height: 24px;
}

.cards .card .img-tags .img-tag .workato-text {
    color: #fff;
    font-family: var(--font-mont);
    font-size: 20px;
    font-weight: 600;
}

.cards.grid .card .tool-imgs {
    display: none !important;
}


.cards.grid .card .desc {
    padding-top: 1rem;
    font-weight: 400;
}

.cards .card .publish {
    margin-top: auto;
}

.cards.grid .card .publish {
    font-family: var(--font-lucida);
}

.cards.grid .card .publish .value {
    font-weight: normal;
}

.cards.tile .card {
    height: 250px;
    width: 100%;
}

.cards.tile .brand-n-title {
    flex-direction: row-reverse;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
}

.cards.tile .card .tool-imgs {
    column-gap: 32px;
}

.cards.tile .card .text-tags {
    width: 30%;
    margin-top: 10px;
    flex-wrap: wrap;
}

.cards.tile .card .tile-right {
    position: absolute;
    left: 75%;
    top: 1.2rem;
}

.cards.tile .card .desc {
    width: 30%;
    left: 35%;
    top: 57%;
    transform: translateY(-50%);
    position: absolute;
    /* max-height: 8.2ch; */
    overflow: hidden;
}

.cards.tile .card .publish {
    font-family: var(--font-mont);
    position: absolute;
    left: 75%;
    bottom: 1rem;
}

section.not-got .not-got-dots {
    position: absolute;
}

@media (min-width: 1200px) {
    .cards.tile .card .tool-imgs  {
        margin-top: 20px;
    }
}

@media (min-width: 1025px) {
    section.hero .r-bg {
        background-position-y: 40%;
        background-size: 75%;
    }
    .cards.tile .card .publish {
        bottom: 30px;
    }
}

@media (1025px < width < 1399px) {
    section.hero .l-bg {
        background-size: 40%;
    }

    .cdh.center.what {
        background-position-x: 89%;
    }
    

    section.what .content-form .content {
        width: 590px;
    }

    main#home .know-form {
        margin-top: -3px;
        width: 290px !important;
        flex-direction: column;
        padding: 1rem;
    }

    section.what .know-form form {
        width: 100%;
    }
    .cards.tile .brand-n-title {
        width: 30%;
    }
}

@media (769px < width < 1024px) {

    section.hero .l-bg {
        background-size: 40%;
    }

    section.hero .r-bg {
        background-position-y: center;
        background-size: 70%;
    }

    section.what .content .bot-n-content {
        align-items: center;
        justify-content: space-around;
    }

    section.what .content-form .plug-content {
        width: 315px;
    }

    section.what .content-form .content {
        width: 100%;
    }

    section.what .know-form {
        margin-top: 3rem;
        width: 100%;
        padding: 3rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        column-gap: 2rem;
    }

    section.what .know-form>* {
        width: 40%;
    }

    section.not-got .container-fluid {
        flex-direction: column;
    }

    section.not-got .container-fluid>div {
        width: 100%;
    }

    section.not-got .container-fluid .adv-space {
        min-height: 266px;
    }

    section.not-got .l-hold>div .text-side {
        width: 35%;
    }

    section.not-got .l-hold>div .know-form {
        width: 45%;
    }

    .cards.tile .brand-n-title {
        width: 80%;
    }
}

@media (width < 768px) {
    section.cdh {
        min-height: 70vh;
    }
    section .container {
        max-width: 100vw !important;
        overflow: hidden;
    }
    section.what .content-form .content{
        width: 100vw;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    section.what .form-hold {
        display: none;
    }
    section.not-got .container-fluid {
        padding: 0;
    }
    section.not-got .l-hold {
        width: 100%;
        padding: 0;
    }
    
    section.not-got .adv-space {
        display: none;
    }
    section.direct .view-switch {
        display: none;
    }
    .cards.tile .brand-n-title {
        width: 60%;
    }
    section.what .content-form .plug-content {
        width: 95vw;
    }
}

@media (482px < width < 768px  ) {
    section.not-got .l-hold .text-side {
        width: 70%;
        padding-left: 1.6rem;
    }
    section.what .content .fsxl24 {
        font-size: 16px;
        line-height: 19.5px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    section.what .content .bot-n-content {
        align-items: center;
    }
    section.what .content .bot-n-content .fsxl-l16 {
        font-size: 14px;
        line-height: 14.4px;
    }
    section.what .content .bot-n-content .plug-bot-img-hold {
        width: 38%;
    }
    section.what .content .bot-n-content .plug-bot-img-hold > img {
        width: 100%;
    }
    section.what .content .bot-n-content .plug-content {
        width: 57%;
    }
}

@media (width < 481.98px) {
    section.what .content .fsxl24 {
        font-size: 16px;
        line-height: 19.5px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    section.what .content .bot-n-content {
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    section.what .content .bot-n-content .fsxl-l16 {
        font-size: 14px;
        line-height: 14.4px;
    }

    section.not-got .container-fluid .l-hold .d-flex {
        flex-direction: column;
    }

    section.not-got .container-fluid .l-hold .d-flex .text-side {
        width: 300px;
        padding-top: 3rem;
        text-align: center;
    }
    section.not-got .container-fluid .l-hold .d-flex .text-side > * {
        padding-top: 1rem;
    }
    section.not-got .container-fluid .l-hold .know-form {
        padding-top: 0;
    }
}

@media (width < 768px) {
    .r-bg > * {
        display: none;
    }
}